# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=callytics
DB_USER=callytics
DB_PASS=callytics

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Asterisk ARI
ARI_URL=http://asterisk:8088
ARI_USER=callytics
ARI_PASS=callytics
ARI_APP=callytics

# Asterisk AMI
AMI_HOST=asterisk
AMI_PORT=5038
AMI_USER=callytics
AMI_PASS=callytics

# App
BACKEND_PORT=3001
NODE_ENV=development
